<head>
  <meta charset="UTF-8" />

  <!-- Mobile responsiveness -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Page Title -->
  <title>{{ page.title | default: site.title }}</title>

  <!-- Meta Description -->
  <meta name="description" content="{{ page.description | default: site.description }}" />

  <!-- Canonical URL -->
  {%- assign canonical = page.canonical | default: page.url | absolute_url -%}
  <link rel="canonical" href="{{ canonical }}" />

  <!-- Open Graph -->
  <meta property="og:title" content="{{ page.og_title | default: page.title | default: site.title }}" />
  <meta property="og:description" content="{{ page.og_description | default: page.description | default: site.description }}" />
  <meta property="og:type" content="{{ page.og_type | default: 'website' }}" />
  <meta property="og:url" content="{{ canonical }}" />

  {% if page.og_image or site.og_image %}
  <meta property="og:image" content="{{ page.og_image | default: site.og_image | absolute_url }}" />
  {% endif %}

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="{{ page.twitter_card | default: 'summary_large_image' }}" />
  <meta name="twitter:title" content="{{ page.og_title | default: page.title | default: site.title }}" />
  <meta name="twitter:description" content="{{ page.og_description | default: page.description | default: site.description }}" />

  {% if page.og_image or site.og_image %}
  <meta name="twitter:image" content="{{ page.og_image | default: site.og_image | absolute_url }}" />
  {% endif %}

  <!-- Styles -->
  <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon.png' | relative_url }}">

</head>